<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <div class='heading'>
        <h1>
        <span><i class="fas fa-address-card"></i></span>
        <span><%= title %></span>
        </h1>
    </div>

        <div class='entry-container'>
        <% for(let contact of contact_list) { %>
            <div class="details">
                <div class='entry'>
                <p><%= contact.name %></p>
                <p> <%=  contact.number %></p>
                </div>
                <div class="close-button">
                    <a href="/delete-contact/?id=<%= contact._id %>"> <i class="fas fa-window-close"> </i></a>
                </div>
            </div>
            <% } %>
         </div>
    <div class="form-div">
        <form action="/create-contact" method="POST" class='form'>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="number" placeholder="Number">
            <button type="submit">Add</button>
        </form>
    </div>
    <script src="/script.js"></script>
</body>
</html>